// DO NOT COMMIT OR EDIT THIS FILE
MY_CONFIG=hiiii
BASE_URL=https:/$()/app.nocodb.com/api/v1/db/data/noco/pihvvyikhuujsw4/
NOCO_DB_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InN1dGhhcnJhbWdvcGFsMjM1MUBnbWFpbC5jb20iLCJkaXNwbGF5X25hbWUiOiJSYW0iLCJhdmF0YXIiOm51bGwsInVzZXJfbmFtZSI6bnVsbCwiaWQiOiJ1c3R2c3d4M2p0aDh3d2l6Iiwicm9sZXMiOiJvcmctbGV2ZWwtdmlld2VyIiwidG9rZW5fdmVyc2lvbiI6ImZjMjI3MTUwOGVhZTcxZjg5OTA0MmNlYjQwNDk0YjA5MWIzOGQyMDIzMzY4NDM2OGM5ZTJhZDhmNjI4NTNhYzUyYTZlNWMwOWNlOWIyODgwIiwiaWF0IjoxNzA0OTU2ODk0LCJleHAiOjE3MDQ5OTI4OTR9.v4uSFMfpHqQVJ_SG7aks-wz3cTDPMMxu5VWwPiGCQyA
XC_TOKEN=jAYcEA-jXmH6K10GPQJq_hHKnuIMmsdYSPFYzpfe
GOOGLE_MAP_API_KEY=AIzaSyCEDneNFR8b4DYl9cIldAlUAMGYjfUFfhM
